<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meditation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" no-padding>
  <ion-item (click)="openPicker()">
    <ion-label color="light">Durée de la méditation : {{meditationDurationMinutes}} min</ion-label>
    <ion-icon color="light" name="hourglass" slot="end"></ion-icon>
  </ion-item>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="5" class="box ion-activale"></ion-col>
      <ion-col size="5" class="box ion-activale"></ion-col>
      <ion-col size="5" class="box ion-activale"></ion-col>
      <ion-col size="5" class="box ion-activale"></ion-col>
      <ion-col size="5" class="box ion-activale"></ion-col>
      <ion-col size="5" class="box ion-activale"></ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="flex">
    <div class="box ion-activale" (click)="openMed(item)" *ngFor="let item of results">
      <ion-ripple-effect></ion-ripple-effect>
      <img [src]="item.img" alt="">
      <p>{{item.title}}</p>
    </div>
  </div>
</ion-content>