ion-toolbar{
  --color: white;
  --background: #4378a9;
}

ion-content{
  --ion-background-color: #4378a9;

  .flex{
    display: flex;
    flex-wrap: wrap;

  }

  .box{
    height: 161px;
    width: 44%;
    border-radius: 10px;
    box-shadow: 0px 2px 15px #00000887; 
    overflow: hidden;
    position: relative;
    margin: 10px;

    img{
      position: absolute;
      height: 100%;
      width: auto;
      max-width: none;
    }
    p{
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0!important;
      font-weight: 500;
      text-shadow: 0px 1px 10px black;
      text-align: center;
    }
  }
}